html, body{
    margin: 0;
    padding: 0;
}

/* body{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
} */
.sec_header{
    background: #5f0081;
}
.header{
    display: flex;
    background: #5f0081;
    height: 72px;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.header_h1{
    flex-basis: 50px;
    height:70%;
    background: url(../../../../틈로고.png) 0 0 no-repeat;
    text-indent: -9999px;
    background-size: 50px auto;
}

.teum_logo{
    box-sizing: border-box;
    height: 100%;
} 

.header_search{
    display: flex;
}
    .header_search>input{
        padding: 8px 16px 8px 16px;
        width: 100px;
    }

header h1{
    margin: 0;
    height: 100%;
} 

.main_menu{
    display: flex;
    margin: 0;
    position: relative;
}
.mega_menu{
    display: none;
    position: absolute;
    right: 0;
    border: 1px solid black;
    background-color: black;
}
    .mega_menu a{
        color: white;
    }

.mypage:hover .mega_menu{
    display: block;
}

header li{
    color: white;
    list-style: none;
}

header a {
    height: 50%;
    display: block;
    text-align: center;
    padding: .5rem 1rem;
    text-decoration: none;
    color: white;
}
/*---------반응형 용으로 만들어둔거 손대지 않기-----------*/
.mobileHeader{
    display: none;
}
/* @media(max-width: 600px){
    .mobileHeader{
        display: flex;
    }
    .pcHeader{
        display: none;
    }
    .sec_login_main>div:first-child>img{
        width: 300px;
    }
}

@media(min-width: 600px){
    .mobileHeader{
        display: none;
    }
    .pcHeader{
        display: flex;
    }
    .sec_login_main>div:first-child>img{
        width: 500px;
    }
} */
/*---------------------------------------------------------*/

.main{
    --min-height: 600px;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
}

.sec_login_main{
    min-height: 600px;
    --width: 1200px;
    --margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*나중에 반응형 만들때 사용하기*/
}
    .sec_login_main>div:first-child{
        margin-right: 100px;
    }
    .sec_login_main>.login_form{
        --margin-left: 100px;
        display: flex;
        flex-direction: column;
    }
        .sec_login_main>.login_form>h1{
            font-size: 32px;
            color: #5f0081;
            font-weight: bold;
        }
        .sec_login_main>.login_form>section{
            margin-top: 50px;
        }
        .sec_login_main>.login_form th{
            color: #5f0081;
            font-weight: bold;
        }
        .sec_login_main>.login_form th+td>input[type=text],.sec_login_main>.login_form th+td>input[type=password]{
            margin-left: 16px;
            width: 200px;
        }
        .sec_login_main>.login_form th~td>input[type=button]{
            margin-left: 16px;
        }

        .sec_login_main>.login_form table{
            border-spacing: 10px;
        }

        .btn_submit{
            text-align: center;
        }
        .btn_submit>input{
            margin: 10px 0;
            height: 30px;
            border: 1px dashed #ff0080;    /*---테두리 정의---*/
            background-Color:#ffe6f2;   /*--백그라운드 정의---*/
            font:12px 굴림;      /*--폰트 정의---*/
            font-weight:bold;   /*--폰트 굵기---*/
            color:#ff0080;    /*--폰트 색깔---*/
        }
        .btn_submit>input:hover{
            cursor: pointer;
        }

.sec_form>div:nth-child(2){
    margin-top: 16px;
}
    .sec_form>div:nth-child(2)>ul{
        display: flex;
        justify-content: space-around;
    }
    .sec_form>div:nth-child(2)>ul input{
        height: 30px;
        border: 1px dashed #ff0080;    /*---테두리 정의---*/
        background-Color:#ffe6f2;   /*--백그라운드 정의---*/
        font:12px 굴림;      /*--폰트 정의---*/
        font-weight:bold;   /*--폰트 굵기---*/
        color:#ff0080;    /*--폰트 색깔---*/
    }
    .sec_form>div:nth-child(2)>ul input:hover{
        cursor: pointer;
    }

.sec_footer{
    background-color: lightgray;  
}
footer{
    height: 300px;
    width: 1200px;
    background-color: lightgray;  
    color :rgba(0,0,0,0.38);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

footer ul{
    padding: 0;
    list-style: none;
    display: flex;
    --flex-wrap: wrap;
}

footer ul li{
    display: flex;
    flex-shrink: 0;
}

/* footer ul li a{
    padding: 0;
    margin: 0;
    display: inline-block;
} */

footer a{
    color: lightslategray;
}

footer div p{
    padding-top: 20px;
    padding-bottom: 10px;
}

.userInfo_main{
    --width: 100%;
    --display: flex;
    --justify-content: center;
}

.sec_userInfo_main{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    --flex-wrap: wrap;
    min-height: 600px;
}

    .sec_userInfo_main>aside{
        width: 300px;
    }
    .sec_userInfo_main>div>section{
        width: 900px;
    }
