* {
    box-sizing: border-box;
}


/********************************************/

.sub-container {
    width: 1200px;
    --background: cornflowerblue;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
}

.main .breadcrumb > .breadcrumb-list {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 14px;
}
.main h1 {
    font-size: 20px;
    margin: 30px 0 0 30px;
}

    .main .list-board > table{
        border-top: 2px solid #5f005f;
        table-layout: fixed;
        width: 800px;
        font-size: 14px;
        margin: 10px 0 0 30px;
    }

        .main .list-board > table > thead {
            background: #f5f5f5;
        }

            .main .list-board  table tr{
                height: 40px;
                line-height: 40px;  
            }
        
                .main .list-board >table tr td{
                    text-align: center;
                    border-bottom: 1px solid #e9e9e9;
                    
                }
                .main .list-board>table tr td.col-s{
                    width: 60px;
                }
                .main .list-board>table tr td.col-m{
                    width: 200px;
                }
/********************************************/
