.main{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
    .title{

    }
    .review{

    }
    .event{
        border: 2px solid black;
    }
    .dateChange{
        border: 2px solid black;
    }
    .information{
        display: flex;
    }
        .information div:first-child{

        }
        .information div:nth-child(2){
            
        }