* {
    box-sizing: border-box;
}
/********************************************/

.container {
    width: 1200px;
    min-height: 100px;
    --background: orange;
    margin: 0 auto;
    display: flex;
}

    .aside {
        background: palegreen;
        width: 300px;
    }

    .main {
        width: 900px;
        min-height: 100px;
        background: rgb(107, 197, 224);
    }
        .breadcrumb {
            background: violet;
        }

        .qna-sec {
            background: rgb(113, 51, 214);
            border: 1px solid black;
        }
            .qna-sec ul{
                display: flex;
                flex-direction: row;
            }
        .qna-list {
            background: powderblue;
            display: none;
            
        }

        .qna-creat {
            background: palevioletred;
        }
            .qna-creat>form{
                display: flex;
                flex-direction: column;
            }