* {
    box-sizing: border-box;
}

    /********************************************/

    .main {
        width: 85%;
        min-height: 100px;
        --background: rgb(107, 197, 224);
    }
        
    .ad-notice-bord {
       --background: rgb(113, 51, 214);
        border: 1px solid black;
        display: flex;
        flex-direction: column;
    }
        .ad-notice-bord>table{
            border-top: 2px solid #5f005f;
            table-layout: fixed;
            
        }
            .ad-notice-bord>table thead tr{
                height: 70px;
                line-height: 70px;
                background: #7489d1;
            }
            
                .ad-notice-bord>table tr td{
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    border-bottom: 1px solid #979797;
                    border-right: 1px solid #979797;
                    
                }
                .ad-notice-bord>table tr td.col-s{
                    width: 80px;
                }
                .ad-notice-bord>table tr td.col-m{
                    width: 150px;
                }

        .ad-notice-bord section{
            border: 1px solid black;
        }
        
       
/********************************************/
